---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import Profile from '../components/Profile.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=today" />
		<style>
			main {
				width: 960px
			}
			ul {
				list-style-type: none;
			}
			li {
				background-color: #ffffff; /* 背景を薄いグレーに */
				color: #333;             /* 文字色を濃いグレーに */
				padding: 10px;          /* 内側の余白を10pxに */
				margin-bottom: 10px;     /* 下側に5pxの余白を設ける */
				border-radius: 12px;
			}
			a {
				display: flex;
				text-decoration: none;
			}
			.image{
				margin-left: auto; /* 左側のマージンを最大にして右に寄せる */
			}
			.title{
				font-size:30px;
				font-weight: bold;
				position:relative;
				padding-left: 15px;     /* 線と文字の間の余白 */
			}
			.title::before {
				content: "";
				display: block;
				width: 4px;             /* 線の幅 */
				height: 70%;           /* 要素の高さに合わせる */
				background-color: #699ef5; /* 線の色 */
				border-radius: 3px;     /*  この行で角を丸くします */
				
				position: absolute;
				left: 0;
				top: 15%;
			}

			.date{
				height: 1.25rem;
				font-family: "Roboto";
				font-size: 0.875rem;
				font-weight: bold;
				color: #7f7f7f;
				padding-left: 1.0em; 
			}
			.material-symbols-outlined {
				vertical-align: middle;
				font-size: 1.25em;
				color: #4671b7;
				background-color: #e5efff;
				border-radius: 5px;     /* この行で角を丸くします */
				padding: 0.35rem; 
				font-variation-settings:
				'FILL' 0,
				'wght' 400,
				'GRAD' 0,
				'opsz' 24
			}

			.container {
				display: flex;
				gap: 2rem; /* コンテンツとサイドバーの間隔 */
				max-width: 1200px;
				margin: 0 auto;
				padding: 1.5rem;
			}
			aside {
				flex: 1; /* サイドバーの幅の割合 */
				position: sticky; /* スクロールしてもサイドバーが追従するように */
				top: 2rem;
				height: fit-content;
			}
			
		</style>
	</head>
	<body>
		<Header />
		<div class="container">
			<main>
				<section>
					<ul>
						{
							posts.map((post) => (
								<li>
									<a href={`/blog/${post.id}/`}>
										<div class="string">
											<h4 class="title">{post.data.title}</h4>
											<p class="date">
												<span class="material-symbols-outlined">today</span><FormattedDate date={post.data.pubDate} />
											</p>
										</div>
										<div class="image">
										{post.data.heroImage && (
											<Image width={244.15} height={182} src={post.data.heroImage} alt="" />
										)}
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</main>
			 <aside>
				<Profile />
			</aside>

		</div>
		<Footer />
	</body>
</html>
